{{ partial "header.html" . }}

<div class="main-container container">
  
  <main>
    <!--<h1>THIS IS DRAWING FROM THEMES/LYNGS-XMIN/LAYOUTS/_DEFAULT/SINGLE.HTML</h1>-->
  {{ .Content }}
  
  <!-- if we're on the blog page, then show the posts -->
  {{ if eq .URL "/blog/"}}
    <ul>
      {{ range where .Site.RegularPages "Section" "post"}}
        <li>
          <span class="date">{{ .Date.Format "2006/01/02" }}</span>
          <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </li>
      {{ end }}
    </ul>
  {{end}}
  
  </main>
  
</div>

{{ partial "footer.html" . }}

