367-tools-of-resistance-in-the-battle-for-online-attention.html
2018-10-28-digging-science-out-of-a-hole-the-reproducibility-index.html
2018-10-28-how-to-write-acm-articles-with-r-markdown.html
2018-10-28-making-statistics-make-sense.html
2018-10-28-ulysses-in-cyberspace.html
2018-10-29-r-packages-for-chi-papers-with-r-markdown.html
2018-11-02_how-to-build-safari-app-extensions.html
2019-02-01-how-to-create-chunk-options.html
2019-02-20_pandoc-filters.html
2019-04-30_367-tools-of-resistance.html
