{{ partial "header.html" . }}

<div class="main-container container blog-post">
  <main>
    <div class="row">
      <div class="col-sm-2 blog-navbar"> 
        <button id="hide-button" onclick="hideTOC()">Hide contents</button>
        <nav id="toc" data-toggle="toc" class="sticky"></nav>
      </div>
  
      <div class="col-sm-10 blog-content">
        
        <div class="post-meta">
          <!-- data-toc-skip will do so the blog title doesn't show in the floating toc -->
          <h1 data-toc-skip><span class="title">{{ .Title | markdownify }}</span></h1>
          <p class="byline">{{ .Params.author }} | {{ .Date.Format "January 2, 2006" }}</p>
          <p class="description">{{ .Params.description | markdownify }}</p>
          <!-- <div class="text-center"><img src="{{ .Params.teaser }}" class="img-fluid"></div>
          <hr> -->
        </div>
        
        <div class="post-content">
          {{ .Content }}
        </div>
      </div>
      
      <!--<div class="col-sm-1 blog-spacer"></div>-->
    </div>
  </main>
</div>

<script src="https://utteranc.es/client.js"
        repo="ulyngs/personal-website"
        issue-term="title"
        label="comments :speech_balloon:"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
<script>
  function hideTOC() {
    var blog_toc = document.getElementById("toc");
    
    if (blog_toc.style.display === "none") {
    
      blog_toc.style.display = "block";
      document.getElementById("hide-button").innerHTML = "Hide contents";
    
    } else {
    
      blog_toc.style.display = "none";
      document.getElementById("hide-button").innerHTML = "Show contents";
      
    }
  }
  
  function createToC() {
    var btn = document.createElement("BUTTON");
  }
</script>

{{ partial "footer.html" . }}

{{ if eq .Params.code_folding "hide" }}
<!-- Init code folding -->
<script>
$(document).ready(function () {
  window.initializeCodeFolding();
});
</script>
<script src="{{ "js/codefolding.js" | relURL }}"></script>

{{ end }}