{{ partial "header.html" . }}

<div class="main-container container blog-post">
  
  <main>
    <div class="post-meta">
      <h1><span class="title">{{ .Title | markdownify }}</span></h1>
      <p class="byline">{{ .Params.author }} | {{ .Date.Format "January 2, 2006" }}</p>
      <!--{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}-->
      <img src="{{ .Params.teaser }}" class="img-fluid">
      <hr>
    </div>
    <div class="post-content">
      {{ .Content }}
    </div>
  </main>
</div>

<script src="https://utteranc.es/client.js"
        repo="ulyngs/personal-website"
        issue-term="title"
        label="comments :speech_balloon:"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

{{ partial "footer.html" . }}
