code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}


body {
  font-family: {{ .Site.Params.body_font | default "'Roboto', sans-serif" }};
}

h1, h2, h3, h4, h5, h6 {
 font-family: {{ .Site.Params.heading_font | default "'Roboto', sans-serif" }};
}
