.navbar {
    transition: top 0.5s ease;
    background-color: white !important;
    border-bottom: 1px solid rgba(0,0,0,0.2)
}

.navbar-nav a {
  color: black !important;
}

.navbar-hide {
    top: -56px;
}



/* font */
body {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}
h3 {
  font-size: 1.75em;
}

.navbar-brand {
  font-size: 2.5em;
  font-weight: 300;
  color: #777 !important;
  line-height: 20px;
}

/* styling to copy old website layout */
.main-container {
  padding-top: 7.5em;
}


/* front page */
.link-wrapper {
  margin-top: 0.5em;
}
.link-wrapper a {
  color: black;
}
.featured-work {
  margin-top: 2.5em;
}
.featured-work-entry {
  margin-top: 2em;
}
.tldr-label {
  font-style: italic;
}


/* footer */
footer {
  margin-bottom: 2em;
}



/*----- PROJECT PAGE -----*/
.project-work {
  margin-bottom: 2em;
  margin-left: 4em;
  margin-top: 1.6em;
}
.project-entries .status-current {
  color: #1b8931;
  font-size: 0.6em;
  padding: 2px
  margin-left: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  top: -3px;
}

.project-entries .status-past {
  color: #72492C;
  font-size: 0.6em;
  padding: 2px
  margin-left: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  top: -3px;
}