.navbar {
    transition: top 0.5s ease;
    background-color: white !important;
    border-bottom: 1px solid rgba(0,0,0,0.2)
}

.navbar-nav a {
  color: black !important;
}

.navbar-hide {
    top: -56px;
}



/* font */
body {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

.navbar-brand {
  font-size: 2.5em;
  font-weight: 300;
  color: #777 !important;
  line-height: 20px;
}

/* styling to copy old website layout */
.main-container {
  padding-top: 7em;
}